@import "modules/_fonts";
@import "modules/_detail";
@import "modules/_header";
@import "modules/_result";
@import "modules/_search";

body {
  font-family: 'Raleway';
  background: url(/images/background.png);
  background-size: cover;
}

.embed_button {
  display: none;
  position: absolute;
  top: 5px;
  left: 5px;
  &.display {
    display: inline-block;
  }
}

ul {
  margin: 0;
  padding: 0;
}
