@font-face {
  font-family: Raleway;
  src: url(/fonts/Raleway-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: Raleway;
  src: url(/fonts/Raleway-Bold.ttf);
  font-weight: bold;
}

@import "modules/_header";

body {
  font-family: 'Raleway';
}

.search {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &.overlay {
    background-color: rgba(0,0,0,0.6);
  }
}

.search_box {
  margin-left: 400px;
  margin-top: 100px;
  width: 480px;
}

.search_bar {
  line-height: 40px;
  font-size: 20px;
  padding: 5px;
  padding-top: 10px;
  float: left;
  width: 400px;
  display: inline-block;
}

.search__button {
  height: 60px;
  width: 60px;
  background-color: black;
  margin-top: 2px;
  float: left;
  display: inline-block;
}

.result_list {
  width: 990px;
  margin: auto;
  margin-top: 250px;
}

.result {
  margin: 5px;
  width: 150px;
  float: left;
  position: relative;
}

.embed_button {
  display: none;
  position: absolute;
  top: 5px;
  left: 5px;
  &.display {
    display: inline-block;
  }
}
