@import "modules/_fonts";
@import "modules/_button";
@import "modules/_content";
@import "modules/_detail";
@import "modules/_embed";
@import "modules/_header";
@import "modules/_result";
@import "modules/_search";

html{
  min-height: 100%;
}

body {
  font-family: 'Raleway';
  background: url(/images/background.jpg);
  background-size: cover;
  background-attachment:fixed;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.is_hidden {
  display: none;
}

.is_shown {
  display: block;
}
