@import "modules/_fonts";
@import "modules/_button";
@import "modules/_detail";
@import "modules/_embed";

body {
  font-family: 'Raleway';
  background-color: white;
}

a {
  text-decoration: underline;
  color: black;
}

#title {
  text-align: center;
  width: 100%;
  position: absolute;
  background-color: black;
  font-family: 'Ubuntu';
  font-weight: 100;
  font-size: 14px;
  line-height: 20px;
  color: white;
  z-index: 10;
  bottom: 0px;
  padding: 10px 0 7px 0;
  a {
    color: white;
  }
  img {
    vertical-align: text-bottom;
  }
}

#map {
  width:100%;
  height:100%;
  position:absolute;
  bottom: 35px;
}

#viewer {
  display: none;
}
