.results {
  width: 90%;
  margin: auto;
  position: absolute;
  top: 190px+82px;
  left: 50px;
  right: 50px;
  left: 0;
  right: 0;
  z-index: 20;
}

.results__collection {
  width: 1080px;
  min-height: 600px;
  margin: auto;
  margin-bottom: 50px;
}

.results__empty, .results__error {
  color: white;
  margin-left: 355px;
}

.results__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 10;
}

.result {
  margin: 5px;
  width: 204px;
  float: left;
  position: relative;
}

.result__description {
  font-family: Ubuntu;
  font-size: 14px;
  color: white;
  line-height: 24px;
  height: 48px;
  overflow: hidden;
  margin-top: 0;
  display: block;
  display: -webkit-box;
  max-width: 204px;
  margin: 0 auto;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.results__loading {
  margin-top: 40px;
  margin-bottom: 40px;
  color: white;
  text-align: center;
}
