.button {
  background-color: black;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  font-weight: bold;
  text-decoration: none;
  a {
    color: white;
    font-weight: bold;
  }
}

.rounded__button {
  @extend .button;
  width: 40px;
  border-radius: 40px;
}

.button__embed {
  @extend .rounded__button;
  position: absolute;
  top: 5px;
  left: 5px;
}

.button__region {
  @extend .rounded__button;
  position: absolute;
  top: 5px;
  left: 155px;
}

.button__zoom {
  @extend .rounded__button;
  position: absolute;
  top: 5px;
  left: 55px;
}

.button__zoom--out {
  @extend .button__zoom;
  left: 105px;
}

.button__copy {
  @extend .button;
  display: inline-block;
  margin-top: 6px;
  padding: {
    left: 8px;
    right: 8px;
  }
}

.button__close {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 0;
}
