.button {
  background-color: black;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
  font-weight: bold;
  a {
    color: white;
    font-weight: bold;
  }
}

.rounded__button {
  @extend .button;
  width: 30px;
  border-radius: 30px;
}

.button__embed {
  @extend .rounded__button;
  position: absolute;
  top: 5px;
  left: 5px;
}

.button__zoom {
  @extend .rounded__button;
  position: absolute;
  top: 5px;
  left: 45px;
}

.button__zoom--out {
  @extend .button__zoom;
  left: 85px;
}

.button__metadata {
  @extend .rounded__button;
  position: absolute;
  top: 5px;
  left: 125px;
}

.button__copy {
  @extend .button;
  padding: 4px;
}
