.content__wrapper {
  width: 100%;
}

.content__page {
  background-color: white;
  width: 720px;
  margin: auto;
  margin-top: 190px+82px+5px;
  padding: 40px;

  h1 {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 48px;
    margin: 0;
  }

  p {
    font-family: 'Ubuntu';
    font-size: 24px;
    line-height: 30px;
  }

  a {
    text-decoration: underline;
    color: black;
  }
}

.content__left {
  float: left;
  width: calc(50% - 400px);
}

aside {
  background-color: black;
  float: right;
  padding: 10px;
  margin-right: 20px;
  font-family: 'Ubuntu';

  a {
    text-decoration: none;
    color: white;
  }

  li {
    margin-bottom: 10px;
  }

  li:before {
    color: white;
    content: "\00BB";
    padding-right: 5px;
  }

  ul {
    list-style-type: none;
  }
}
