.content__page {
  background-color: white;
  width: 80%;
  max-width: 720px;
  margin: auto;
  margin-top: 160px+82px;
  padding: 40px;

  h1 {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 48px;
  }

  p {
    font-family: 'Ubuntu';
    font-size: 24px;
    line-height: 30px;
  }

  a {
    text-decoration: underline;
    color: black;
  }
}
