.embed__popup {
  position: absolute;
  left: 10px;
  top: 50px;
  width: 400px;
  padding: 14px 20px;
  background-color: white;
  z-index: 30;
  font-weight: normal;
  font-family: Ubuntu;
  font-size: 18px;
  line-height: 24px;
  p {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.viewer .embed__popup {
  left: 50px;
  top: 70px;
}

.embed__title {
  font-family: Raleway;
  font-weight: 800;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.embed__box {
  width: 100%;
  margin-bottom: 6px;
}

.embed__option {
  background-color: #f1f1f1;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.embed__subtitle {
  font-weight: bold;
  padding-top: 5px;
}

.embed__callout {
  line-height: 30px;
}

.embed__icon {
  float: left;
  margin-right: 10px;
}
