.embed__popup {
  position: absolute;
  left: 10px;
  top: 50px;
  width: 400px;
  padding: 20px;
  background-color: white;
  z-index: 30;
  font-weight: normal;
  font-family: Ubuntu;
  font-size: 24px;
  line-height: 30px;
}

.embed__title {
  font-family: Raleway;
  font-weight: bolder;
}

.embed__box {
  width: 100%;
}
