@font-face {
  font-family: Raleway;
  src: url(fonts/Raleway-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: Raleway;
  src: url(fonts/Raleway-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Raleway;
  src: url(fonts/Raleway-ExtraBold.ttf);
  font-weight: bolder;
}
@font-face {
  font-family: Ubuntu;
  src: url(fonts/Ubuntu-R.ttf);
  font-weight: normal;
}
