.header {
  font-weight: bold;
}

.header__title {
  color: white;
  position: absolute;
  left: 40px;
  top: 40px;
  width: 150px;
}

.header__title__name {
  font-size: 50px;
  margin: 0;
}

.header__title__text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
}

.header__navigation {
  position: absolute;
  left: 500px;
  top: 40px;
  list-style: none;
  li {
    float: left;
    margin-right: 20px;
  }
  a {
    color: white;
    text-decoration: none;
  }
}

.detail {
  .header {
    background-color: black;
    height: 50px;
    top: 0;
    left: 0;
    width: 100%;
  }
  .header__title__text {
    display: none;
  }
  .header__title {
    position: initial;
    float: left;
  }
  .header__title__name {
    font-size: 30px;
    padding-left: 20px;
    line-height: 50px;
  }
  .header__navigation {
    position: initial;
    float: left;
    line-height: 50px;
    margin-left: 200px;
  }
}
