.header {
  position: absolute;
  z-index: 20;
  width: 100%;
  min-width: 980px;
  text-shadow: 1px 1px 2px #333;
}

.header__title {
  font-weight: bold;
  color: white;
  margin-left: 40px;
  margin-top: 40px;
  float: left;
  width: 150px;
  a {
    text-decoration: none;
  }
}

.header__title__name {
  font-size: 50px;
  margin: 0;
  a {
    color: white;
  }
}

.header__title__text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
}

.header__navigation {
  float: left;
  margin-top: 46px;
  list-style: none;
  font-weight: bold;
  li {
    float: left;
    margin-right: 20px;
  }
  a {
    color: white;
    text-decoration: none;
  }
}

.header__search {
  position: absolute;
  left: 40%;
  top: 0;
  width: 500px;
}

.detail {
  .header {
    background-color: black;
    height: 41px;
    top: 0;
    left: 0;
    width: 100%;
  }
  .header__title {
    margin: 0;
  }
  .header__title__name {
    font-size: 27px;
    padding-left: 20px;
    line-height: 41px;
  }
  .header__navigation {
    margin: 0;
    font-size: 18px;
    line-height: 41px;
    margin-left: 200px;
  }
}
