.header {
  position: absolute;
  z-index: 20;
}

.header__title {
  font-weight: bold;
  color: white;
  margin-left: 40px;
  margin-top: 40px;
  float: left;
  width: 150px;
}

.header__title__name {
  font-size: 50px;
  margin: 0;
}

.header__title__text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
}

.header__navigation {
  float: left;
  margin-left: 300px;
  margin-top: 70px;
  list-style: none;
  font-weight: bold;
  li {
    float: left;
    margin-right: 20px;
  }
  a {
    color: white;
    text-decoration: none;
  }
}

.detail {
  .header {
    background-color: black;
    height: 50px;
    top: 0;
    left: 0;
    width: 100%;
  }
  .header__title {
    margin: 0;
  }
  .header__title__name {
    font-size: 30px;
    padding-left: 20px;
    line-height: 50px;
  }
  .header__navigation {
    margin: 0;
    line-height: 50px;
    margin-left: 200px;
  }
}
