.results {
  width: 990px;
  margin: auto;
  position: absolute;
  top: 250px;
  left: 0;
  right: 0;
  z-index: 20;
}

.results__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 10;
}

.result {
  margin: 5px;
  width: 150px;
  float: left;
  position: relative;
}

.result__description {
  font-size: 14px;
  color: white;
  line-height: 20px;
  height: 40px;
  overflow: hidden;
}
