.search {
  min-height: 100%;
}

.search_box {
  position: absolute;
  left: 490px;
  top: 90px;
  width: 480px;
  z-index: 20;
}

.search_bar {
  line-height: 40px;
  font-size: 20px;
  padding: 5px;
  padding-top: 10px;
  float: left;
  width: 400px;
  display: inline-block;
}

.search__button {
  height: 60px;
  width: 60px;
  background-color: black;
  margin-top: 2px;
  float: left;
  display: inline-block;
  img {
    margin-top: 10px;
    margin-left: 10px;
  }
}

.search__advanced {
  float: right;
}

.search__advanced__box {
  float: left;
  color: white;
  width: 454px;
  padding: 10px;
  background-color: rgba(0,0,0,0.7);
  ul {
    margin-left: 10px;
    list-style: none;
  }
}

.close_button {
  float: right;
}

.detail {
  .search_box {
    margin: 0;
    margin-left: 100px;
    width: 620px;
    top: 0;
  }
  .search_bar {
    line-height: 21px;
    font-size: 16px;
    margin-top: 4px;
  }
  .search__button {
    height: 40px;
    width: 40px;
    img {
      margin: 0;
    }
  }
  .search__advanced {
    float: right;
    color: white;
    line-height: 50px;
  }
}
