.search {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &.overlay {
    background-color: rgba(0,0,0,0.6);
  }
}

.search_box {
  margin-left: 500px;
  margin-top: 50px;
  width: 480px;
}

.search_bar {
  line-height: 40px;
  font-size: 20px;
  padding: 5px;
  padding-top: 10px;
  float: left;
  width: 400px;
  display: inline-block;
}

.search__button {
  height: 60px;
  width: 60px;
  background-color: black;
  margin-top: 2px;
  float: left;
  display: inline-block;
}

.result_list {
  width: 990px;
  margin: auto;
  margin-top: 250px;
}
