#title {
  text-align: center;
  width: 100%;
  position: absolute;
  background-color: black;
  font-family: 'Ubuntu';
  font-weight: 100;
  font-size: 14px;
  line-height: 20px;
  color: white;
  z-index: 10;
  bottom: 0px;
  padding: 5px 0 7px 0;
  a {
    color: white;
  }
  img {
    vertical-align: text-bottom;
  }
}

#map {
  width:100%;
  height:100%;
  position:absolute;
}

.viewer__toolbar {
  display: none;
}

#close {
  background-image: url(/images/close_dark.png);
  background-size: 14px 14px;
  height: 14px;
  width: 14px;
  display: block;
  float: right;
  margin: {
    top: 4px;
    right: 10px;
  }
}

.viewer__toolbar {
  position: absolute;
  left: 45px;
  top: 10px;
}

.osd-select-rectangle {
  border: 2px dashed black;
}
