@import "modules/_fonts";
@import "modules/_button";
@import "modules/_detail";
@import "modules/_embed";
@import "modules/_viewer";

body {
  font-family: 'Raleway';
  background-color: white;
}

a {
  text-decoration: underline;
  color: black;
}
